<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game Watcher</title>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <h1 class="columns large-3">Logo</h1>
          <nav class='columns large-4'>
            <% if (locals.user != null) { %>
              <a class="columns large-4" href="/users/<%= locals.user %>">Search</a>
              <a class="columns large-4" href="/users/<%= locals.user %>/usergames">Your List</a>
              <a class="columns large-4" href="/logout">Logout</a>
            <% } else { %>
              <a class="columns large-6" href="/signup">Sign Up</a>
              <a class="columns large-6" href="/login">Log In</a>
            <% } %>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
