

    <header>
      <div class="container">
        <div class="row">
          <h1 class="columns large-3">Logo</h1>
          <nav class='columns large-4'>
            <% if (locals.user != null) { %>
              <a class="columns large-4" href="/user/<%= locals.user %>">Search</a>
              <a class="columns large-4" href="/users/<%= locals.user %>/games">Your List</a>
              <a class="columns large-4" href="/logout">Logout</a>
            <% } else { %>
              <a class="columns large-6" href="/signup">Sign Up</a>
              <a class="columns large-6" href="/login">Log In</a>
            <% } %>
          </nav>
        </div>
      </div>
    </header>
    <hr />
    <div class="container">
