

<div class="randomGame columns large-7">
  <div class="row">
    <img class='columns large-6 homegame'src="<%=locals.randomGame.thumb%>" alt="coverArt" />
    <div class="randomGameInfo columns large-6">
      <span class="title">Title: <%= randomGame.title %></span> <br />
      <span class="retailer">Retailer: <%= randomGame.retailer %></span> <br />
      <span class="price">Price: <%=randomGame.price %> </span> <br />
    </div>
  </div>
</div>
