
<!-- Hardcode game. To be replaced -->
<div class="randomGame columns large-7">
  <div class="row">
    <h1 class="columns large-12">Random Game</h1>
  </div>
  <img class='columns large-6'src="https://tse1.mm.bing.net/th?&id=Abd372a6092a690db5fd543029cda8561&w=300&h=300&c=0&pid=1.9&rs=0&p=0&r=0" alt="coverArt" />
  <div class="randomGameInfo columns large-4 left">
    <span class="title">Title: Dragon Age</span> <br />
    <span class="retailer">Retailer: Gamestop</span> <br />
    <span class="price">Price: 20 </span> <br />
    <span class="publisher">Publisher: Bioware</span> <br />
  </div>
</div>
