
<div class="randomGame columns large-7">
  <div class="row">
    <h1 class="columns large-12">Best Deal</h1>
  </div>
  <img class='columns large-5'src="<%=locals.randomGame.thumb%>" alt="coverArt" />
  <div class="randomGameInfo columns large-7 left">
    <span class="title">Title: <%= randomGame.title %></span> <br />
    <span class="retailer">Retailer: <%= randomGame.retailer %></span> <br />
    <span class="price">Price: <%=randomGame.price %> </span> <br />
  </div>
</div>
