.coverArt {
  max-height: 148px;
}

body {
  background-color: #F7FAFA;
}

header {
  background-color: #FFFFFF;
  border-bottom: 3px solid black;
  margin-bottom: 50px;
}

nav {
  margin-top: 15px;
}

.logo {
  min-height: 60px;
  max-height: 75px;
}

.game {
  margin-bottom: 10px;
  height: 150px;
}

.gamelist{
  box-shadow: -1px 1px 10px black;
  background-color: #FFFEFC;
  margin-bottom: 10px;
}

.randomGame{
  padding-top: 30px;
}

.randomGameInfo {
  text-align: left;
  padding-top: 20px;
}

.signup {
  padding-top: 25px;
}

.smaller {
  font-size: .7em;
}

.vcontainer {
  position: relative;
}

.vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
