.coverArt {
  max-height: 148px;
}

header {
  background-color: #808080;
  border-bottom: 3px solid black;
  margin-bottom: 50px;
}

.vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

nav {
  top: 50px;
}

nav a {

}

.game {
  margin-top: 10px;
  height: 150px;
  
}

.randomGameInfo {
  text-align: left;
  padding-top: 50px;
  line-height: 3em;
  position: relative;
}

.login {
  padding-top: 50px;
}

.signup {
  padding-top: 25px;
}

.gamelist {
  border: 10px solid black;
}
