<% include ../partials/header %>

  <% if (games.length != 0) { %>
    <div class="row">
      <div class="columns large-6 message" hidden>
        <p>
          None of your games are at your price.
        </p>
      </div>
      <div class="columns large-3 right">
        <span class='filterLink' ><a href="#">All</a> / <a href="#">Filtered</a></span>
      </div>
    </div>
    <div class="row gamelist">
      <% games.forEach(function(game) { %>
        <% if (game.userPrice == null || game.userPrice == undefined || game.userPrice > game.game.price) { %>
          <div class="game columns small-12">
            <% include ../partials/gamerow %>
          </div>
        <% } else { %>
          <div class="game columns small-12 filter" hidden>
            <% include ../partials/gamerow %>
          </div>
        <% } %>
      <% }); %>

    <% } else { %>
      <div class="row">
        <h1>You don't have any games on your list yet :(</h1>
        <span>Try adding some <a href="/users/<%=locals.user%>">here</a></span>
      </div>
    <% } %>

<% include ../partials/footer %>
