<% include ../partials/header %>
  <div class="row">
    <div class="columns large-3 right">
      <span class='filterLink' ><a href="#">All</a> / <a href="#">Filtered</a></span>
    </div>
  </div>
  <div class="row gamelist">
    <% games.forEach(function(game) { %>
      <% if (game.game.userPrice == null || game.game.userPrice == undefined || game.game.userPrice > game.game.price) { %>
        <div class="game columns large-12">
          <% include ../partials/gamerow %>
        </div>
      <% } else { %>
        <div class="game columns large-12 filter" hidden>
          <% include ../partials/gamerow %>
        </div>
      <% } %>
    <% }); %>
  </div>

<% include ../partials/footer %>
