<% include ../partials/header %>

    <form action="/login" method="post">
      <label>Username<input type="text" name="user[userName]" value=""></label>
      <label>Password <input type="text" name="user[password]" value=""></label>
      <button type="sumbit" name="button">Log In</button>
    </form>

<% include ../partials/footer %>
