
    <form class="search" action="#" method="get">
      <div class="row collapse">
        <div class="columns large-10">
          <input type="text" name="game[gameId]" placeholder="search" value="">
        </div>
        <div class="columns large-2">
          <button class='button postfix' type="sumbit" name="button">Search</button>
        </div>
      </div>
    </form>

    <div class="results <%=locals.user%> row">
    </div>
