<% include ../partials/header %>

  <form action="/signup" method="post">
    <label>Username<input type="text" name="user[userName]" value=""></label>
    <label>Email<input type="text" name="user[email]" value=""></label>
    <label>Password <input type="text" name="user[password]" value=""></label>
    <button type="sumbit" name="button">Sign Up</button>
  </form>

<% include ../partials/footer %>
