<% include ../partials/header %>
  <div class="row">
    <% include ../partials/randomGame %>
    <form class='signup columns right large-5'action="/signup" method="post">
      <label>Username<input type="text" name="user[userName]" value=""></label>
      <label>Email<input type="text" name="user[email]" value=""></label>
      <label>Password <input type="text" name="user[password]" value=""></label>
      <button type="sumbit" name="button">Sign Up</button>
      <a href="/login">Already have an Account? Log in</a>
    </form>
  </div>
<% include ../partials/footer %>
